@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.App {
  font-family: "Oswald", sans-serif;
  text-align: center;
}
body {
  background-color: #b5deff;
}
input {
  background-color: #c1ffd7;
}
